@using System.Web.Optimization
@model LunchSystem.Models.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunch System Login Page</title>
</head>
<body>
    <div class="container" style="margin: 150px auto; max-width: 400px; border: 1px solid #ccc; box-shadow: 0px 2px 3px 0px #ddd;">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#LoginPanel" role="tab" data-toggle="tab">Login</a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" href="#Register" role="tab" data-toggle="tab">Register</a>
                </li>*@
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="loginPanel">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "LoginForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.LoginUsername, null, new { @class = "form-control", autofocus = "autofocus", placeholder = "UserName" })
                        @Html.ValidationMessageFor(model => model.LoginUsername, "", new { @class = "text-danger" })
                    </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.LoginPassword, null, new { @class = "form-control", placeholder = "Password", type = "Password" })
                            @Html.ValidationMessageFor(model => model.LoginPassword, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-success btn-block" id="loginButton" style="margin-bottom: 10px;">Login</button>
                }
                @if (Model?.Message != null)
                {
                    <div class="alert alert-danger" role="alert" id="errorMessage">
                        @Model.Message
                    </div>
                }
            </div>
            @*<div role="tabpanel" class="tab-pane fade" id="Register">Register</div>*@
        </div>
    </div>
    @Scripts.Render("~/Content/Scripts/js")
    @Styles.Render("~/Content/CSS/css")
</body>
</html>
