@using System.Web.Optimization
@model IEnumerable<LunchSystem.Models.Order>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Order Page</h4>
<div class="row">
    <div class="col-6">
        <img src="~/Content/Image/menu_HuXuZhang.jpg" alt="HuXuZhang" width="90%" height="90%" id="MenuPicture"> <br />
    </div>
    <div class="col-6">
        @using (Html.BeginForm("Order", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p class="alert alert-info">All fields are <strong>required</strong>.</p>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon"> Name</span>
                        <input type="text" class="form-control" id="MemberName" name="MemberName" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon"> Order</span>
                        <input class="form-control" type="text" id="Meal" name="Meal" required />
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"> Cost</span>
                        <input type="text" class="form-control" id="Cost" name="Cost" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success btn-block" id="submit">Submit</button>
        }

        <br />
        <table style="width:100%" id="OrderTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Order</th>
                    <th>Cost</th>
                </tr>
                @foreach (var order in Model)
            {
                    <tr>
                        <td>@order.MemberName</td>
                        <td>@order.Meal</td>
                        <td>@order.Cost</td>
                    </tr>
                }
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Content/Scripts/js")
    @Styles.Render("~/Content/CSS/css")
}
