@using System.Web.Optimization
@model IEnumerable<LunchSystem.Models.Order>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Order Page</h4>
<div class="row">
    <div class="col-6">
        <img src="~/Content/Image/menu_HuXuZhang.jpg" alt="HuXuZhang" width="90%" height="90%" id="MenuPicture"> <br />
    </div>
    <div class="col-6">
        @using (Html.BeginForm("Order", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p class="alert alert-info">All fields are <strong>required</strong>.</p>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <div class="input-group">
                        @Html.Label("MemberName", "Name", new { @class = "input-group-addon" })
                        @Html.TextBox("MemberName", "", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessage("MemberName", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-8">
                    <div class="input-group">
                        @Html.Label("Meal", "Order", new { @class = "input-group-addon" })
                        @Html.TextBox("Meal", "", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessage("Meal", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-sm-4">
                    <div class="input-group">
                        @Html.Label("Cost", "Cost", new { @class = "input-group-addon" })
                        @Html.TextBox("Cost", "", new { @class = "form-control", pattern = "[0-9]+", title = "Only digits are allowed", required = "required" })
                        @Html.ValidationMessage("Cost", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success btn-block" id="submit">Submit</button>
        }

        <br />
        <table style="width:100%" id="OrderTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Order</th>
                    <th>Cost</th>
                </tr>
                @foreach (var order in Model)
            {
                    <tr>
                        <td>@order.MemberName</td>
                        <td>@order.Meal</td>
                        <td>@order.Cost</td>
                    </tr>
                }
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Content/Scripts/js")
    @Styles.Render("~/Content/CSS/css")
    @Scripts.Render("~/Content/Scripts/jqueryval")
}
